<div class="content">
  <h1>Dashboard</h1>
  <hr />
  <div class="columns">
    <div class="col">
      <ez-calendar
        lang="<%= locals?.tenant?.preferences?.lang || 'en-gb' %>"
      ></ez-calendar>
    </div>
    <div
      class="col"
      style="
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4px;
        align-content: center;
      "
    >
      <div id="chart-expenses"></div>
      <div id="chart-income"></div>
    </div>
  </div>
  <div class="table-container">
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Recurrency</th>
            <th>Created</th>
            <th>Due date</th>
            <th>Paid on</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<%- contentFor('scripts') %>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="module" src="/scripts/dashboard.js" defer></script>
<script type="module" src="/scripts/calendar.js" defer></script>

<%- contentFor('styles') %>
<link rel="stylesheet" href="/css/views/dashboard.css" />
