<nav>
  <ul>
    <li>
      <a href="/profile"
        ><i class="mdi">person</i><span>User's profile</span></a
      >
    </li>
    <li>
      <a href="/dashboard"
        ><i class="mdi">empty_dashboard</i><span>Dashboard</span></a
      >
    </li>
    <li>
      <a href="/movements"
        ><i class="mdi">monetization_on</i><span>Movements</span></a
      >
    </li>
    <li>
      <a href="/categories"><i class="mdi">list</i><span>Categories</span></a>
    </li>
  </ul>
</nav>
