<nav>
  <ul>
    <li>
      <a href="/profile"
        ><i class="mdi">person</i><span>User's profile</span></a
      >
    </li>
    <li>
      <a href="/dashboard"
        ><i class="mdi">empty_dashboard</i><span>Dashboard</span></a
      >
    </li>
    <li>
      <a href="/calendar"
        ><i class="mdi">calendar_month</i><span>Calendar</span></a
      >
    </li>
    <li>
      <a href="/customers" name="mnuCustomers"
        ><i class="mdi">group</i><span>Customers</span></a
      >
    </li>
  </ul>
</nav>
