@use "../partials/formelements" as *;

.table-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 4px;
  grid-template-rows: min-content 1fr min-content;

  .toolbar,
  .pagination {
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    padding: 4px;
    background-color: var(--sl-color-sky-100);
    border-radius: 6px;
  }

  .toolbar {
    justify-content: start;
    sl-button {
      padding: 0.15rem;
    }
  }

  .pagination {
    input[type="number"],
    select {
      width: 70px;
      @include form-element();
    }
    align-items: center;

    .pageinfo {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  .table {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    border-radius: 8px;

    th {
      position: sticky;
      top: 0;
    }

    table {
      width: 100%;
      border-radius: 6px 6px 0 0;
      border-spacing: 1px;
      border-collapse: separate;
      position: relative;

      thead {
        tr {
          th {
            background-color: var(--sl-color-teal-50);
            background: linear-gradient(
              0deg,
              var(--sl-color-teal-50) 0%,
              var(--sl-color-teal-200) 100%
            );
            padding: 0.5rem 1rem;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) td {
            background-color: var(--sl-color-gray-100);
          }

          &:hover td {
            background-color: var(--sl-color-gray-200);
            cursor: pointer;
          }

          &.selected td {
            background-color: var(--sl-color-gray-400);
          }

          &.cancelled {
            opacity: 0.3;

            td {
              background-color: inherit;
              color: inherit;
            }
          }

          td {
            padding: 0.5rem 1rem;

            &.no-rows {
              span {
                justify-content: center;
              }

              i {
                position: relative;
                top: 3px;
                animation: spin 2s linear infinite;
              }
            }
          }
        }
      }
    }
  }
}
